<!DOCTYPE html>
<html>
<head>
    <title>Project - Day - 12</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/utilities.min.css" rel="stylesheet">
    <script>
        function openFuntion(functionName,elmnt) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementById("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(functionName).style.display = "block";

        }
        document.getElementById("fibo").click();
        </script>
    <script type="text/javascript" src="js/largestPrimeFactors.js"></script>

</head>
<body class="bg-cream text-charcoal min-h-screen font-sans leading-normal overflow-x-hidden lg:overflow-auto">
    <main class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-24 flex flex-col">
        <section class="bg-cream-lighter p-4 shadow">
            <button  id="tablink" class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-purple-dark font-semibold" onclick="openFuntion('fibo', this)">Even Fibonacci Number</button>
            <button id="tablink" class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-dark font-semibold" onclick="openFuntion('prime', this)">Largest Prime Number</button>

            <div id="fibo" class="tabcontent" style="display: none">
                <form class="w-full max-w-md">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3 mt-6 ml-6">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 " for="numberFibo">
                                Number
                            </label>
                            <input class="appearance-none block w-full bg-purple-lighter text-purple-darker border border-purple-lighter rounded py-3 px-4 mb-3" id="numberFibo" type="text" >
                            <p class="text-grey-dark text-xs italic">Please input just a number</p>
                        </div>
                    </div>
                    <div class="md:flex ">
                        <div class="md:w-6"></div>
                        <div class="md:w-2/6">
                            <button class="shadow bg-purple hover:bg-purple-light text-white font-bold py-2 px-4 rounded" type="button" onclick="evenFibonacci()">
                                Calculate
                            </button>
                        </div>
                    </div>
                    <div class="w-full px-3 mt-6 ml-3">
                        <p class="text-grey-dark text-xs italic">Please, Input a number and press "Calculate" button to get the answer</p>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3 mt-6 ml-6">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 " for="answer" >
                                The Answer
                            </label>
                            <input class="appearance-none block w-full bg-purple-lighter text-purple-darker border border-purple-lighter rounded py-3 px-4 mb-3 h-12 cursor-not-allowed" id="answerFibo" type="text" disabled style ="height:10rem;" value=" ">
                        </div>
                    </div>
                </form>
            </div>

            <div id="prime" class="tabcontent" style="display: none">
                <form class="w-full max-w-md">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3 mt-6 ml-6">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 " for="number">
                                Number
                            </label>
                            <input class="appearance-none block w-full bg-blue-lighter text-blue-darker border border-blue-lighter rounded py-3 px-4 mb-3" id="numberPrime" type="text" >
                            <p class="text-grey-dark text-xs italic">Please input just a number</p>
                        </div>
                    </div>
                    <div class="md:flex ">
                        <div class="md:w-6"></div>
                        <div class="md:w-2/6">
                            <button class="shadow bg-blue hover:bg-blue-light text-white font-bold py-2 px-4 rounded" type="button" onclick="largestPrimeFactors()" >
                                Calculate
                            </button>
                        </div>
                    </div>
                    <div class="w-full px-3 mt-6 ml-3">
                        <p class="text-grey-dark text-xs italic">Please, Input a number and press "Calculate" button to get the answer</p>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3 mt-6 ml-6">
                            <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 " for="answer">
                                The Answer
                            </label>
                            <input class="appearance-none block w-full bg-blue-lighter text-blue-darker border border-blue-lighter rounded py-3 px-4 mb-3 h-12 cursor-not-allowed" id="answerPrime" type="text" disabled style ="height:10rem;" value=" ">
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
